/* reset + estilo general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  height: 100%;
}

/* estilos del body */
body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body main {
  text-align: center;
  padding: 20px;
}
body main h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 30px;
}

/* estilos de todos los productos */
main .imagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .imagenes .img {
  border-radius: 10px;
  margin-left: 15px;
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .imagenes .img {
    width: 45%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .imagenes .img {
    width: 100%;
    height: auto;
  }
}
/* estilos de preguntas frecuentes */
main .preg-frec {
  margin-top: 50px;
}
main .preg-frec .h3-preg {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 2px;
}
main .preg-frec .h4-preg {
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  padding-bottom: 50px;
}

/* estilos del formulario */
main .contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(221, 122, 0, 0.7803921569);
}
main .contact_form .formulario h1 {
  font-size: 40px;
  font-weight: bold;
}
main .contact_form .formulario h3 {
  font-size: 15px;
}
main .contact_form input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  margin-top: 10px;
  padding-left: 10px;
}
main .contact_form label {
  font-weight: 500;
}
main .contact_form textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
main .contact_form button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #dd7b00;
  border-color: #dd7b00;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}
main .contact_form button p {
  color: white;
  margin-top: 6px;
  text-align: center;
}

/* estilos de tabla */
main .guia-talles {
  margin-top: 50px;
}
main .guia-talles .h2-guia {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 2px;
}
main .guia-talles .h3-guia {
  text-align: left;
  font-size: 15px;
  font-weight: 200;
  padding-bottom: 5px;
}

.container-table {
  border: solid 1px rgba(255, 255, 255, 0.2);
}
.container-table table tbody tr {
  color: #000000;
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
}
.container-table table tbody tr td {
  padding: 15px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

/* estilos del footer */
footer {
  margin-top: auto;
  padding: 5px;
  background-color: #dd7b00;
  height: 40px;
  bottom: 0;
}
footer p {
  color: aliceblue;
  text-align: center;
  position: absolute;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
