/* estilos de preguntas frecuentes */
main{
    .preg-frec{
    margin-top: 50px;
    .h3-preg{
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 2px;
    }
    .h4-preg{
        text-align: left;
        font-size: 17px;
        font-weight: 300;
        padding-bottom: 50px;
    }
    }
}
