/* estilos del footer */
footer {
    margin-top: auto;
    padding: 5px;
    background-color: #dd7b00;
    height: 40px;
    bottom: 0;
    p{
        color: aliceblue;
        text-align: center;
        position: absolute;
        width: 100%;
    }
}